<div class="row row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center" id="latest-product">
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <a href="detailproduct.html">
                    <img src="./img/hd-1.png" alt="">
                </a>
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/hd-2.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/hd-3.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/hd-4.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/earphone1.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/earphone2.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/wl1.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card">shop</button>
                    <button class="btn-card"><i class='bx bx-heart'></i></button>
                    <button class="btn-card"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-sm-6">
        <div class="product-card">
            <div class="product-card-img">
                <img src="./img/wl2.png" alt="">
            </div>
            <div class="product-card-info">
                <div class="product-card-btn">
                    <button class="btn-card btn-shop-now">shop</button>
                    <button class="btn-card btn-card-add"><i class='bx bx-heart'></i></button>
                    <button class="btn-card btn-card-add"><i class='bx bx-cart'></i></button>
                </div>
                <div class="product-card-name">
                    Hyper JBZ 200
                </div>
                <div class="product-card-price">
                    <span><del>300.000 VND</del></span>
                    <span class="curr-price">280.000 VND</span>
                </div>
            </div>
        </div>
    </div>
</div>